body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
    overflow-x: hidden;
}

span {

    margin: 0;
    padding: 0;

}

p {
    margin: 0;
    padding: 0;
}

/* --saffron-50: #fffeeb;
--saffron-100: #fefbc7;
--saffron-200: #fdf88a;
--saffron-300: #fcee4d;
--saffron-400: #fbe024;
--saffron-500: #f0be0a;
--saffron-600: #d99806;
--saffron-700: #b46d09;
--saffron-800: #92540e;
--saffron-900: #78450f;
--saffron-950: #452403;
 */
