
@import url('https://fonts.googleapis.com/css2?family=Bungee+Hairline&family=Dela+Gothic+One&family=Hind+Madurai:wght@700&display=swap');

/*------------------TIPOGRAFIAS----------
  font-family: 'Bungee Hairline', cursive;
  font-family: 'Dela Gothic One', cursive;
  font-family: 'Hind Madurai', sans-serif;
*/


/* ----------------COLORES--------------
    #1c1b4d
    #b80E65
    #1791b1
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  width: 100vw;
  height: 100vh;
}