.container {
    height: 100vw;
    width: 100vw;
    background-color: rgb(225, 255, 0);
    display: flex;
    align-items: top;
    justify-content: center;
    color: black;

}


/* .image {
    padding: 10px;
    height: 500px;
    width: 500px;
    background-image: url('../../assets/MietWZ7qbDpJLrDid8vE--1--y9v9u.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 100%;
    background-color: aliceblue;
} */