.container {
    width: 20vw;
    height: 45vh;
    
    color: aliceblue;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    display: flex;
    justify-content: space-around;
    
    border-radius: 4rem;
    
}

