.container {
    
    background-color: rgb(255, 251, 16); 
    display: grid;
    padding: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    width: 98.8vw;
    grid-gap: 10px;
}

.about{
    grid-column: 1/4;
    grid-row: 1/2;
}

.project {
    grid-column: 1/3;
    grid-row: 2/4;
}

.description {
    grid-column: 3/ span 1;   
    grid-row: 2/ span 1;
}

.skills {
    grid-column: 3/4;
    grid-row: 3/4;
}

.hire {
    grid-column: 2/3;
    grid-row: 4/5;
}

.tech {
    grid-column: 3/4;
    grid-row: 4/5;
}

.studies {
    grid-column: 1/2;
    grid-row: 4/6;
}

.other{
    grid-column: 2/4;
    grid-row: 5/6;
}