@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bungee+Hairline&family=Dela+Gothic+One&family=Hind+Madurai:wght@700&display=swap');




.body {
    padding: 20px;

    position: fixed;
    display: flex;
    left: 0px;

    flex-direction: column;
    justify-content: space-around;
    align-items: center; 

    font-family: 'Archivo Black', sans-serif;
    font-size: 50px;
    height: 100vh;
    color: rgba(150, 150, 150, 0.822); 
    
}

.Link {
    text-decoration:none;   
}

.image {
    padding: 10px;
    height: 500px;
    width: 500px;
    background-image: url('../../assets/MietWZ7qbDpJLrDid8vE--1--y9v9u.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 100%;
    background-color: aliceblue;
}