@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bungee+Hairline&family=Dela+Gothic+One&family=Hind+Madurai:wght@700&display=swap');




.body {
    
    height: 100vh;
    margin-left: 2vw;       
    padding-left: 2rem;
    padding-right: 2rem;
    position: fixed;    
    left: 0px;
    z-index: 12;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; 

    background-color: black;
    
}

.Link {
    text-decoration:none;   
    color: aliceblue;
    margin: 0px;
}

.p {
    color: rgb(255, 255, 255);
    font-family: 'Bungee Hairline';
    font-weight: bold;
    font-size: xx-large; 
}
.p:hover {
    color: rgb(255, 251, 16);
    border-bottom: 1px solid rgb(255, 251, 16);
}

.image {
    
    height: 20rem;
    width: 20rem;
    background-image: url('../../assets/2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 100%;
}

/*---------------------------*/
.icon {
    color: rgb(255, 251, 16);
    font-size: 3rem;
}

.icons {
    width:200px;
    display: flex;
    justify-content: space-around;
}